nav {
  background-color: #9d7753;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  padding: 10px 0;
}

#main-container {
  background-color: #e8d4b0;
  padding: 20px;
  border-radius: 20px;
  max-width: 1000px;
  width: 90%;
  margin: 20px auto;
}
